{% extends 'layouts/base.html' %}
{% block title %} Podkategoria {% endblock title %}
{% load django_bootstrap5 %}

{% block content %}
<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">

    <div class="row">
        <div class="col">
            <div class="card shadow main-card-full-height">
                <div class="card-header border-0">
                    <h3 class="mb-0">Tworzenie nowej podkategorii</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type="submit" content="OK" %}
                        {% bootstrap_button button_type="reset" content="Cancel" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}